[Project Managers]
# protect individual files in the root directory such as the CODEOWNERS file
/*                     @gabe.scarberry @joshwolf @megamind @micah.nagel @michaelmcleroy @phillip.record @runyontr @ryan.j.garcia 
# Recursive protection for directories
/.gitlab-ci/           @gabe.scarberry @joshwolf @megamind @micah.nagel @michaelmcleroy @phillip.record @runyontr @ryan.j.garcia 
/.gitlab/              @gabe.scarberry @joshwolf @megamind @micah.nagel @michaelmcleroy @phillip.record @runyontr @ryan.j.garcia 
/base/                 @gabe.scarberry @joshwolf @megamind @micah.nagel @michaelmcleroy @phillip.record @runyontr @ryan.j.garcia 
/chart/                @gabe.scarberry @joshwolf @megamind @micah.nagel @michaelmcleroy @phillip.record @runyontr @ryan.j.garcia 
/charter/              @gabe.scarberry @joshwolf @megamind @micah.nagel @michaelmcleroy @phillip.record @runyontr @ryan.j.garcia 
/hack/                 @gabe.scarberry @joshwolf @megamind @micah.nagel @michaelmcleroy @phillip.record @runyontr @ryan.j.garcia 
/scripts/              @gabe.scarberry @joshwolf @megamind @micah.nagel @michaelmcleroy @phillip.record @runyontr @ryan.j.garcia 
/tests/                @gabe.scarberry @joshwolf @megamind @micah.nagel @michaelmcleroy @phillip.record @runyontr @ryan.j.garcia 
/docs/                 @gabe.scarberry @joshwolf @megamind @micah.nagel @michaelmcleroy @phillip.record @runyontr @ryan.j.garcia 


[Docs Owners]
# Allow any one of the listed codeowners to approve merges to the documentation 
# Does not allow the creator of the merge request to be the approver.
/docs/                @aaron.ruse @aaronbeger @andrew.scala.hg @barrywoodtetrate @branden.cobb @cmcgrath @daryndecker @david.allen @dyoung @egoode @evan.rush @iahmad @jasonkrause @jay-rob @jcookehg @jdale @jkayse @joshwolf @jpower_rfed @kavitha @kenna81 @kevin.wilder @LynnStill @matthew.kaiser @mdutton @mgauto @micah.nagel @michaelmcleroy @msbrown47 @nick.kammerdiener @Ozzie100 @racosta @rkernick @runyontr @ryan.j.garcia @sean.deprefontaine @seanthomaswilliams1 @shouseba @thomas.burton @toladipupo @tsiddique1 @visuth.dy


################################################
# The following entries are for optional approval. 
# They are only included to document contacts and have no impact on approval requirements
################################################

^[Kustomize Base Owners]
base/                 @micah.nagel @michaelmcleroy @ryan.j.garcia

^[CI Owners]
.gitlab-ci/           @branden.cobb @toladipupo
tests/                @branden.cobb @toladipupo

^[Hack Owners]
scripts/              @egoode @michaelmcleroy @toladipupo
hack/                 @egoode @michaelmcleroy @toladipupo

^[Charter Owners]
charter/              @gabe.scarberry @joshwolf @megamind @micah.nagel @michaelmcleroy @phillip.record @runyontr @ryan.j.garcia 

^[Istio and Authservice]
chart/Chart.yaml                @barrywoodtetrate @cmcgrath @kavitha @kenna81
chart/values.yaml               @barrywoodtetrate @cmcgrath @kavitha @kenna81
chart/templates/authservice     @cmcgrath @kavitha @kenna81
chart/templates/istio           @barrywoodtetrate @cmcgrath @kavitha @kenna81

# ^[HAProxy]
# chart/Chart.yaml              @blloyd @runyontr @ryan.j.garcia
# chart/values.yaml             @blloyd @runyontr @ryan.j.garcia
# chart/templates/haproxy       @blloyd @runyontr @ryan.j.garcia

^[Anchore]
chart/Chart.yaml                @blake.hearn @jasonkrause @micah.nagel
chart/values.yaml               @blake.hearn @jasonkrause @micah.nagel
chart/templates/anchore         @blake.hearn @jasonkrause @micah.nagel

^[ArgoCD]
chart/Chart.yaml                @branden.cobb @matthew.kaiser @brian.rexrode
chart/values.yaml               @branden.cobb @matthew.kaiser @brian.rexrode
chart/templates/argocd          @branden.cobb @matthew.kaiser @brian.rexrode

# ^[Cluster Auditor]            @branden.cobb @matthew.kaiser @brian.rexrode
# chart/Chart.yaml              @branden.cobb @matthew.kaiser @brian.rexrode
# chart/values.yaml             @branden.cobb @matthew.kaiser @brian.rexrode
# chart/templates/clusterauditor @branden.cobb @matthew.kaiser @brian.rexrode

# ^[Gatekeeper]
# chart/Chart.yaml              @echuang @egoode @toladipupo
# chart/values.yaml             @echuang @egoode @toladipupo   
# chart/templates/gatekeeper    @echuang @egoode @toladipupo

^[Logging]
chart/Chart.yaml                @evan.rush @kavitha @ryan.j.garcia
chart/values.yaml               @evan.rush @kavitha @ryan.j.garcia
chart/templates/logging         @evan.rush @kavitha @ryan.j.garcia

^[Monitoring]
chart/Chart.yaml                @lynnstill @michaelmartin @ryan.j.garcia
chart/values.yaml               @lynnstill @michaelmartin @ryan.j.garcia
chart/templates/monitoring      @lynnstill @michaelmartin @ryan.j.garcia

^[Twistlock]
chart/Chart.yaml                @joshwolf @runyontr @ryan.j.garcia @thomas.burton
chart/values.yaml               @joshwolf @runyontr @ryan.j.garcia @thomas.burton
chart/templates/twistlock       @joshwolf @runyontr @ryan.j.garcia @thomas.burton

^[Sonarqube]
chart/Chart.yaml                @branden.cobb @kevin.wilder @lynnstill
chart/values.yaml               @branden.cobb @kevin.wilder @lynnstill
chart/templates/sonarqube       @branden.cobb @kevin.wilder @lynnstill

^[Gitlab and Gitlab Runners]
chart/Chart.yaml                @kevin.wilder @lynnstill @ryan.j.garcia
chart/values.yaml               @kevin.wilder @lynnstill @ryan.j.garcia
chart/templates/gitlab          @kevin.wilder @lynnstill @ryan.j.garcia

^[KeyCloak]
chart/Chart.yaml                @kevin.wilder @megamind @michaelmcleroy @zacw
chart/values.yaml               @kevin.wilder @megamind @michaelmcleroy @zacw
chart/templates/keycloak        @kevin.wilder @megamind @michaelmcleroy @zacw

^[Mattermost (and operator)]
chart/Chart.yaml                @branden.cobb @jasonkrause @micah.nagel
chart/values.yaml               @branden.cobb @jasonkrause @micah.nagel
chart/templates/mattermost      @branden.cobb @jasonkrause @micah.nagel

^[Minio (and operator)]
chart/Chart.yaml                @branden.cobb @kevin.wilder @lynnstill
chart/values.yaml               @branden.cobb @kevin.wilder @lynnstill
chart/templates/minio           @branden.cobb @kevin.wilder @lynnstill

^[Velero]
chart/Chart.yaml                @tunde @adam.toy @micah.nagel @jcarnes
chart/values.yaml               @tunde @adam.toy @micah.nagel @jcarnes
chart/templates/velero          @tunde @adam.toy @micah.nagel @jcarnes

